.light {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #000;
}

.dark {
  color: #fff !important;
  background-color: rgb(43, 37, 37);
  height: calc(100vh - 60px);
  h1,
  h2,
  h3,
  h4,
  label {
    color: #fff !important;
  }

}